/* style for Box model */
main {
  margin: 30px;
}

/* Box-sizing ruleset of css
  fix the explicit width of box approx 200px
  more learn about Box-sizing:
  https://css-tricks.com/box-sizing/
  https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing
  */
  * {
    box-sizing: border-box;
  }
.foo{
  width: 200px;
  background-color: green;
  border: 1px solid green;
  padding: 10px;
  margin-bottom: 20px;
}

.bar {
  display: inline-block;
  font-size: 10px;
  width: 100px;
  background-color: cadetblue;
  padding: 10px;
}
